@using Tiller.WXL.PDFGeneration.Helper
@model Tiller.WXL.Models.ViewModels.PrimaryParticipantSummaryViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Test</title>
    @if (Model.Mode == 2)
    {
        <link rel="stylesheet" href="~/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/custom/client-report/client-report-cover.css" crossorigin="anonymous">
    }
    else
    {
        <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="css/custom/client-report/client-report-cover.css" crossorigin="anonymous">
    }

</head>
<body>
    <div class="cover-page">
        <div class="main-container container">
            <div class="row date-heading float-right">
                <div><h2>@DateTime.UtcNow.ToString("dd MMMM yyyy")</h2></div>
                <div><h2>@DateTime.UtcNow.ToString("HH:mm")</h2> </div>
            </div>

            <div class="row name-heading">
                <div class="col-lg-12">
                    <h2>
                        Client report for
                    </h2>
                    <h2>
                        @Model.IndividualDetails.ParticipantMainDetail.FullName
                    </h2>
                </div>
            </div>
            <div class="row reference-section">
                <div class="col-lg-6">
                    <p class="mb-0 bold">Account type</p>
                    <p>@Model.IndividualDetails.ParticipantMainDetail.AccountType</p>
                    <p class="mb-0 bold">Customer reference</p>
                    <p>@Model.IndividualDetails.ParticipantMainDetail.CustomerReference</p>
                    <p class="mb-0 bold">Mandate reference</p>
                    <p>@Model.IndividualDetails.ParticipantMainDetail.MandateReference</p>
                </div>
                <div class="col-lg-6">
                </div>
            </div>
            <div class="row footer-section">
                <div class="col-lg-6"></div>
                <div class="col-lg-6">
                    <img src="images/mr-logo-onboarding-full.png" alt="logo" />
                </div>

            </div>
        </div>
    </div>

</body>
</html>