@model Tiller.WXL.Models.ViewModels.CostDisclosureReportViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    @if (Model.Mode == 2)
    {
        <link rel="stylesheet" href="~/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/custom/cost-disclosure/cost-disclosure-firstpage.css" crossorigin="anonymous">
    }
    else{
        <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="css/custom/cost-disclosure/cost-disclosure-firstpage.css" crossorigin="anonymous">
    }    
    
</head>
<body>
    <div class="main-container container">
        <div class="section-one">
            <div class="row">
                <div class="col-md-8">
                    <h2><span class="first-page-heading">Total charges summary:</span> @Model.PeriodStartDate?.ToString("dd MMMM yyyy")  to  @Model.EndDate?.ToString("dd MMMM yyyy")</h2>
                    <hr />
                    <table class="summary-table">
                        <tbody>
                            <tr>
                                <td>Client:</td>
                                <td> @Model.ReportSummary.ClientName</td>
                            </tr>
                            <tr>
                                <td>Account reference:</td>
                                <td>@Model.ReportSummary.AccountReference</td>
                            </tr>
                            <tr>
                                <td>Portfolio reference:</td>
                                <td>@Model.ReportSummary.ProductCode @Model.ReportSummary.PortfolioReference</td>
                            </tr>
                            <tr>
                                <td>Portfolio type:</td>
                                <td>@Model.ReportSummary.ProductTitle</td>
                            </tr>
                            <tr>
                                <td>Investment strategy:</td>
                                <td>@(Model.ReportSummary.StrategyTitle.StartsWith("Passive", StringComparison.OrdinalIgnoreCase) ? "Passive multi-asset" : "Multi-asset")</td>
                            </tr>

                            <tr>
                                <td>Fund Risk profile:</td>
                                <td>@Model.ReportSummary.TargetRisk</td>
                            </tr>

                            <tr>
                                <td>Portfolio start date:</td>
                                <td>@Model.ReportSummary.PortfolioInception.ToString("dd MMMM yyyy")</td>
                            </tr>
                            <tr>
                                <td>Value as at @Model.AsAtDate.ToString("dd/MM/yyyy"):</td>
                                <td>£@Model.ReportSummary.MarketValue.ToString("N2")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <div class="first-page-right-content">
                        <h3><span class="first-page-heading">Contact us</span></h3>
                        <hr />
                        <p><small class="right-content-subheading">Secure message</small></p>
                        <p><small>You can send us a message through your online account</small></p>
                        <p><small class="right-content-subheading">Email</small></p>
                        <p><small>mwisesupport@mattioliwoods.com</small></p>
                    </div>

                    <div class="first-page-right-content-footer">
                        <h3>www.mattioliwoods.com</h3>

                        <h4>Mattioli Woods plc</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>